<template name="emailArea">
  <strong>Send to:</strong>
  <input name="toEmail" id="toEmail" type="text" value="{{toEmail}}" placeholder="e.g. mzuckerberg@facebook.com" class="form-control">
  <p contenteditable="true" id="greeting">{{greeting}}</p>
  <p contenteditable="true" id="well-wishes">{{well_wishes}}</p>
  <p contenteditable="true" id="introduction">{{introduction}}</p>
  <p contenteditable="true" id="email-body">{{email_body}}</p>
  <p contenteditable="true" id="signoff-word">{{signoff_word}}</p>
  <button id="start-over">Start over</button>
  <button id="save-draft-btn">Save draft</button>
  <!-- <a href="https://mail.google.com/mail/?view=cm&fs=1&to={{toEmail}}&body={{greeting}}{{well_wishes}}{{introduction}}{{email_body}}{{signoff_word}}">Open draft in client</a> -->
  <button id="send-email-btn">Send email</button>
</template>
